---
import NavMenu from './NavMenu.astro'
---

<header
  class="px-8 py-2 border-b-[1px] text-black border-neutral-200 dark:border-neutral-800 dark:bg-black bg-white z-20 dark:text-gray-100 sticky top-0 flex items-center"
>
  <span class="text-2xl font-bold"> EG</span>
  <NavMenu />
</header>
