---
import photoProfile from './../assets/photo.jpeg'
---

<picture
  class=" "
  
>
  <div class="overflow-hidden rounded-full">
    <img
      loading="lazy"
      src={photoProfile.src}
      alt="Eduardo Guette photo"
      height="120"
      width="120"
      class="rounded-full"
    />
  </div>
</picture>
