---
import photoProfile from './../assets/photo.jpeg'
---

<picture class=" relative  block w-max">
  <div class="overflow-hidden rounded-full border-yellow-200 border-4">
    <img
      loading="lazy"
      src={photoProfile.src}
      alt="Eduardo Guette photo"
      height="100"
      width="100"
    />
  </div>
  <p class="absolute bottom-2 right-0 text-3xl z-10">
    {'👋'}
  </p>
</picture>
