---
import map from './../assets/mapa.png'
---

<article class="relative ">
  <img
    src={map.src}
    alt="Madrid - Mapa"
    class="object-fill rounded-md"
    height="auto"
    width="152"
  />

  <div class="absolute top-10 left-16 h-max aspect-square">
    <span
      class="animate-ping absolute h-full w-full aspect-square rounded-full bg-sky-300 opacity-75  block"
    ></span>
    <span
      class="relative block rounded-full border-blue-600 h-6 w-6 aspect-square bg-blue-500"
    ></span>
  </div>
</article>
