---

---

<nav class=" ml-auto">
  <ul class="flex justify-end items-center gap-4 md:gap-8">
    <li>
      <a href="#about" class="text-neutral-500 text-sm hover:text-neutral-200">
        About me
      </a>
    </li>
    <li>
      <a
        href="#projects"
        class="text-neutral-500 text-sm hover:text-neutral-200"
      >
        Projects
      </a>
    </li>
    <li>
      <a
        href="#experience"
        class="text-neutral-500 text-sm hover:text-neutral-200"
      >
        Experience
      </a>
    </li>
  </ul>
</nav>
