---

---

<nav class="ml-auto">
  <ul class="flex justify-end items-center gap-4 md:gap-8
  dark:text-neutral-400 text-gray-500">
    <li>
      <a href="#about" class="text-sm dark:hover:text-neutral-200 hover:text-black"> About me</a>
    </li>
    <li>
      <a href="#projects" class="text-sm dark:hover:text-neutral-200 hover:text-black"> Projects</a>
    </li>
    <li>
      <a href="#experience" class="text-sm dark:hover:text-neutral-200 hover:text-black">
        Experience
      </a>
    </li>
  </ul>
</nav>
